html {
    height: 100%;
    overflow: hidden;
}
body {
    height: 100%;
    font-family: "Roboto", sans-serif;
    margin: 0;
    overflow: hidden;
}

label {
    margin: 0;
}
a {
    color: #005dc1;
}

code {
    color: #7f868c;
}

.text-primary {
    color: #005dc1 !important;
}
.card-body > .fa-4x {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    display: block;
}

#search_tbody > tr > td {
    vertical-align: middle;
}

#edit_user_list:after {
    display: none;
}
.editor-fullscreen {
    height: 100vh !important;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    right: 0;
}

.editor {
    height: calc(100vh - 19rem);
}

#toggle_editor_fullscreen {
    position: absolute;
    right: 0;
    top: 0;
}
#toggle_editor_fullscreen:hover {
    color: #ffffff !important;
}

#update_page,
#update_file,
#update_404,
#update_header,
#update_footer,
#update_maintenance {
    color: #6c757d !important;
}
#update_page:hover,
#update_file:hover,
#update_404:hover,
#update_header:hover,
#update_footer:hover,
#update_maintenance:hover {
    color: #ffffff !important;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.switch[disabled] {
    pointer-events: none;
    opacity: 0.5;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
input:checked + .slider {
    background-color: #343a40;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

/* notifications */
.notification_body {
    right: 25px;
    top: 70px;
    z-index: 1040;
    position: fixed;
    width: 100%;
    max-width: 350px;
}

.notification {
    padding: 10px 0;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 10px;
}

.notification:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.notification_type {
    color: #3e3e3e;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0;
}

.notification_message {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 0;
    color: #878787;
}

.notification_content {
    padding-left: 30px;
    padding-right: 50px;
}

.notification_close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor: pointer;
    height: 14px;
    fill: #878787;
    transform: translateY(-50%);
}

.notification-success:before {
    background-color: #28a745;
}

.notification-warning:before {
    background-color: #ffc107;
}

.notification-error:before {
    background-color: #dc3545;
}

/* remove scroll bars */
::-webkit-scrollbar {
    display: none;
}

/* cards shadow effect  */
.card {
    border-radius: 0.5rem !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border: 0 !important;
}

.wrapper {
    height: 100%;
    overflow: auto;
    background: rgba(203, 203, 210, 0.15);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2.5rem;
    padding-top: calc(48px + 2.5rem);
    margin-left: 12rem;
    transition: all 0.1s ease-out;
}

.border-top-radius-0 {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-menu {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border: none;
}

.top-navbar {
    margin-left: 12rem;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15);
    transition: all 0.1s ease-out;
    padding: 0.3rem 0.5rem;
}

.view-website {
    height: 48px;
    display: flex;
    align-items: center;
}
.website-title {
    color: #343a40 !important;
    text-decoration: none !important;
    margin-left: 1rem;
}

tr.active {
    border-left: 10px solid green;
}

tr.disabled {
    border-left: 10px solid lightgray;
}

/*
 * Sidebar
 */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
    max-width: 12rem;
    width: 100%;
    background-color: #343a40;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.1s ease-out;
    -webkit-overflow-scrolling: touch;
}

@media only screen and (max-width: 992px) {
    .sidebar {
        max-width: 50px;
    }
    .sidebar span {
        display: none;
    }
    .sidebar a.nav-link {
        padding: 1rem 0.8rem;
    }
    .sidebar a.nav-link:first-child {
        padding: 1rem 0.8rem;
        border-left: 0.3rem solid transparent;
    }
    .top-navbar {
        margin-left: 50px;
    }
    .wrapper {
        margin-left: 50px;
    }
    h1.display-5 {
        font-size: 2rem;
    }
    .logged-user {
        display: none;
    }
    .website-title {
        margin-left: 0.5rem;
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        padding-bottom: 1.5rem;
        padding-top: calc(48px + 1.5rem);
    }
    .notification_body {
        top: 1rem;
        right: 1rem;
    }
}

@media only screen and (max-width: 425px) {
    .wrapper {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        padding-top: calc(48px + 1rem);
    }
    li.nav-category {
        display: none;
    }
    h5.mb-4.text-secondary {
        margin-bottom: 1rem !important;
    }
    h1.display-5 {
        font-size: 1.5rem;
    }
    .fa-4x {
        font-size: 3rem;
    }
}

.sidebar .nav-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    padding: 0.6rem 1.6rem;
    color: #dee2e6;
    -webkit-text-decoration: none;
    text-decoration: none;
    border-left: 0.3rem solid transparent;
}

.sidebar .nav-link > i {
    margin-right: 0.5rem;
}

.sidebar .nav-link:first-child {
    height: 3.1rem;
    padding: 0.8rem 1.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-left: 0;
}

.nav-link-divider {
    padding: 0.5rem;
}

.sidebar .nav-link.active {
    background-color: #2b3035;
    color: #fff;
    border-left: 0.3rem solid #00000073;
}

.sidebar .nav-link:hover:not(.active) {
    color: #fff;
    background-color: #384048;
}

input.form-control:focus,
.btn:focus {
    box-shadow: none;
}

.cursor-pointer {
    cursor: pointer;
}

button.btn.btn-dark.btn-sm:active {
    transform: translateY(1px);
}

.modal-footer button.btn.btn-dark.btn:active {
    transform: translateY(1px);
}

.modal-content {
    border: none;
}

.modal-header,
.modal-footer {
    border: none;
}

.custom-control-label,
.custom-control {
    cursor: pointer;
    user-select: none;
}
